<!-- Basic features section-->
<br>
<section class="bg-light">
  <div class="container px-5">
    <div
      class="row gx-5 align-items-center justify-content-center justify-content-lg-between"
    >
      <div class="col-12 col-lg-5">
        <h2 class="display-4 lh-1 mb-4">Capacitar Financieramente para un Futuro Próspero</h2>
        <p class="lead fw-normal text-muted mb-5 mb-lg-0">
          En CoinWise, nuestra misión es proporcionar a las personas las herramientas y conocimientos necesarios para tomar el control de su futuro financiero. Creemos en la importancia de la educación financiera y su capacidad para empoderar a las personas a tomar decisiones informadas y alcanzar sus metas financieras.
        </p>
      </div>
      <div class="col-sm-8 col-md-6">
        <div class="px-5 px-sm-0">
          <img
            class="img-fluid rounded-circle"
            src="https://source.unsplash.com/u8Jn2rzYIps/900x900"
            alt="..."
          />
        </div>
      </div>
    </div>
  </div>
</section>
<footer class="py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
</footer>
